---
import { generarPDFAsistencia } from "../../scripts/generarReporteAsistencia";
const { inscritos } = Astro.props;
---

<section>
  <h2>Listado de Asistencia</h2>
  <button onclick="generarPDFAsistencia()">Descargar PDF</button>

  <table id="tablaAsistencia">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cédula</th>
        <th>Fecha de Asistencia</th>
      </tr>
    </thead>
    <tbody>
      {
        inscritos.map((estudiante) => (
          <tr>
            <td>{estudiante.nombre}</td>
            <td>{estudiante.cedula}</td>
            <td>{estudiante.fecha}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</section>

<script type="module">
  import { generarPDFAsistencia } from "../scripts/generarReporteAsistencia";
  window.generarPDFAsistencia = generarPDFAsistencia;
</script>

