---
import Header from '../components/Header.astro';
import NavBar from '../components/Navbar.astro';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
<Header/>
    <NavBar />
  </body>
</html>
