---
import Header from "../components/HeaderUsuario.astro";
import NavBar from "../components/Navbar.astro";
import ContenedorEvento from "../components/ContenedorEvento.astro";
import Avatar from '../components/Avatar.astro';
import Button from '../components/Button.astro';
import DocumentButton from '../components/DocumentButton.astro';
import Card from '../components/Card.astro';


const upcomingEvents = ["Evento 1", "Evento 2", "Evento 3"];
const certificates = ["Certificado A", "Certificado B", "Certificado C"];

import { getEventosPorUsuario } from '../actions/Eventos/getEventosPorUsuario'
// Obtener id_user desde la URL
const url = new URL(Astro.request.url);
const idUsuario = url.searchParams.get("id_user") || "";

// Consultar eventos si hay id válido
let eventos = [];
let success = false;

if (idUsuario) {
  const result = await getEventosPorUsuario({ idUsuario });
  success = result.success;
  eventos = result.eventos || [];
}

---
<html lang="es">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <Header />
        <NavBar />

        <div class="flex flex-col md:flex-row gap-6 p-6">
  <div class="flex flex-col items-center gap-4 w-full md:w-1/4">
    <Avatar />
    <p class="text-red-800">Usuario</p>
    <Button text="Editar Perfil" />
    <div class="text-center mt-4 text-red-800">Documentos</div>
    <div class="flex gap-2 mt-2">
      <DocumentButton label="pdf cedula" />
      <DocumentButton label="pdf matric" />
      <DocumentButton label="pdf extra" />
    </div>
  </div>
  <div class="w-full md:w-3/4 flex flex-col gap-4">
<div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-8">
      <Card title="Eventos Próximos">
       <div class="flex flex-col gap-y-4">
    {upcomingEvents.map(e => 
      <div class="bg-white border rounded-xl shadow-md p-4 text-gray-800">{e}</div> )}
      </div> 
      </Card>
      <Card title="Certificados">
         <div class="flex flex-col gap-y-4">
        {certificates.map(c =><div class="bg-white border rounded-xl shadow-md p-4 text-gray-800">  {c}</div>)}
        </div> 
      </Card>
    </div>
    <h1 >Historial de Eventos</h1>
      <ContenedorEvento />
  </div>
</div>
    </body>
</html>