---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MenuAdmin from "../components/MenuAdministrador.astro";
import InformacionFacultad from "../components/InformacionFacultad.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import type { CustomUser } from "../../auth.config";
import { getSession } from "auth-astro/server";
import CarruselUTA from "@/components/Home/CarruselUTA.astro";
import { actions } from "astro:actions";

const session = await getSession(Astro.request);
let esAdmin = false;

if (session?.user) {
    const user = session.user as CustomUser;
    const rol = user.rol?.toUpperCase();
    esAdmin = rol === "ADMINISTRADOR" || rol === "MASTER";
}


const id_fac = "a1b2c3d4-e5f6-4a7b-8c9d-1a1a1a1a1a1a";

const { data: pagina } = await Astro.callAction(actions.getInfo, { id_fac });
---

<Layout>
    <Header />
  {esAdmin ? <MenuAdmin /> :  <Navbar />} 
    <CarruselUTA modoAdmin={esAdmin}/>
    <InformacionFacultad
        decano={pagina?.data?.dec_fac ?? ""}
        decanoImagen={pagina?.data?.dec_img ?? ""}
        subdecano={pagina?.data?.sub_fac ?? ""}
        subdecanoImagen={pagina?.data?.sub_img ?? ""}
        tituloFacultad={pagina?.data?.nom_fac ?? ""}
        tituloDescripcion="Descripción"
        contenidoDescripcion={pagina?.data?.des_fac ?? ""}
        imagenDescripcion={pagina?.data?.img_des ?? ""}
        tituloMision="Misión"
        contenidoMision={pagina?.data?.mis_fac ?? ""}
        imagenMision={pagina?.data?.img_mis ?? ""}
        tituloVision="Visión"
        contenidoVision={pagina?.data?.vis_fac ?? ""}
        imagenVision={pagina?.data?.img_vis ?? ""}
        modoAdmin={esAdmin}
    />
    <div class="h-15 bg-white"></div>
    <Footer />
</Layout>
