---
const { text = 'Botón', href = '#' } = Astro.props;
---
<a
  href={href}
  class="bg-gradient-to-r from-red-700 to-red-900 text-white px-6 py-2 rounded-full shadow-md hover:shadow-lg hover:scale-105 transition-all duration-300 text-center font-semibold tracking-wide w-fit"
>
  {text}
</a>
