---
const { titulo, descripcion } = Astro.props;
---

<style>
  .seccion {
    background-color: #eeeeee;
      padding: 2rem 1rem;
      gap: 1.5rem;
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .titulo {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #2c2c4e;
    margin-bottom: 16px;
    letter-spacing: 1px;
  }

  .descripcion {
    font-size: 16px;
    line-height: 1.7;
    color: #4b4b5c;
  }

  @media (max-width: 600px) {
    .titulo {
      font-size: 22px;
    }

    .descripcion {
      font-size: 15px;
    }
  }
</style>

<div class="seccion">
  <h2 class="titulo">{titulo}</h2>
  <p class="descripcion">{descripcion}</p>
</div>
