---
// ContenedorSimple.astro
const { titulo, descripcion } = Astro.props;
---

<div class="bg-gray-100 p-5 rounded-xl shadow-md w-full sm:w-[48%] lg:w-[45%]">
  <h3 class="text-lg font-bold text-gray-800 mb-2">{titulo}</h3>
  <p class="text-sm text-gray-700 whitespace-pre-line">{descripcion}</p>
</div>