---
const { isLoggedIn } = Astro.locals;

const {Twitter, Facebook, Instagram, 
        Direccion = "Av. Los Chásquis y Río Guayllabamba", 
        Correo = "talleresfisei@uta.edu.ec", 
        Solicitud
} = Astro.props;
---

<footer
    style="background-color:rgb(34, 34, 34); color: white; padding: 40px 80px;"
>
    <style>
        footer a {
            transition: color 0.3s ease;
        }

        footer svg {
            transition:
                transform 0.3s ease,
                fill 0.3s ease;
        }

        footer a:hover svg {
            transform: scale(1.1);
            fill: rgb(178, 0, 0);
        }

        .contacto-icon{
          height: auto;
          width: 18px;
        }

        .footer-cursos li {
            margin: 6px 0;
        }

        .footer-cursos a {
            position: relative;
        }

        .footer-cursos a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0%;
            height: 2px;
            background-color: rgb(162, 0, 0);
            transition: width 0.3s ease;
        }

        .footer-cursos a:hover::after {
            width: 100%;
        }

        .titulo{
            color: rgb(169, 0, 0); 
            margin-bottom: 20px; 
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 500;
        }

				.texto {
					color: white;
          font-size: 14px;
				}

				.btn-cambios {
					background-color: #a80006; color: white; font-weight: 500; padding: 14px 28px; text-decoration: none; display: inline-block; transition: background-color 0.3s ease; margin-right: 85px;
				}

				.btn-cambios:hover {
					background-color: white;
					color: rgb(122, 12, 12);
				}

				.derechos {
					text-align: center; font-size: 12px; color: rgba(255, 255, 255, 0.5);
				}

        .contacto-contenido {
          display: flex;
          align-items: center;
          gap: 6px;
          margin-bottom: 8px;
        }
    </style>

    <div
        style="display: flex; flex-wrap: wrap; justify-content: space-between; gap: 40px; "
    >
        <div>
            <h3 class="titulo">CONTACTO</h3>
            <div class="contacto-contenido">
              <svg class="contacto-icon" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">
                <path d="M20 4H4C2.9 4 2 4.9 2 6v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
              </svg>
              <p class="texto">{Correo}</p>
            </div>
						<div class="contacto-contenido">
              <svg class="contacto-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/>
              </svg>
              <p class="texto">{Direccion}</p>
            </div>
        </div>

        <dir>
            <h3 class="titulo" style="text-align: center;">
                REDES
            </h3>
            <div style="margin-top: 20px; display: flex; gap: 12px;">
            
                <a
                    href={Twitter || "https://twitter.com/uta_fisei"}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg
                        width="24"
                        height="24"
                        fill="white"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M22.46 6c-.77.35-1.6.58-2.46.69a4.27 4.27 0 001.88-2.36 8.48 8.48 0 01-2.7 1.03 4.22 4.22 0 00-7.2 3.85A12 12 0 013 4.79a4.23 4.23 0 001.3 5.63 4.2 4.2 0 01-1.91-.53v.05a4.23 4.23 0 003.39 4.13 4.3 4.3 0 01-1.9.07 4.24 4.24 0 003.95 2.93A8.48 8.48 0 012 19.54a12 12 0 006.29 1.84c7.55 0 11.68-6.26 11.68-11.68 0-.18 0-.36-.01-.54A8.35 8.35 0 0022.46 6z"
                        ></path>
                    </svg>
                </a>

                <a
                    href={Facebook || "https://www.facebook.com/UTAFISEI"}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg
                        width="24"
                        height="24"
                        fill="white"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M22 12a10 10 0 10-11.63 9.87v-6.99h-2.6v-2.88h2.6V9.41c0-2.58 1.54-4.01 3.9-4.01 1.13 0 2.3.2 2.3.2v2.53h-1.3c-1.28 0-1.68.79-1.68 1.6v1.92h2.85l-.46 2.88h-2.39v6.99A10 10 0 0022 12z"
                        ></path>
                    </svg>
                </a>

                <a
                    href={Instagram || "https://www.instagram.com/fisei_uta/"}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg
                        width="24"
                        height="24"
                        fill="white"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M12 2.2c3.2 0 3.58.01 4.85.07 1.17.05 1.97.24 2.43.41.6.23 1.03.5 1.48.95.45.45.72.88.95 1.48.17.46.36 1.26.41 2.43.06 1.27.07 1.65.07 4.85s-.01 3.58-.07 4.85c-.05 1.17-.24 1.97-.41 2.43a3.66 3.66 0 01-.95 1.48 3.66 3.66 0 01-1.48.95c-.46.17-1.26.36-2.43.41-1.27.06-1.65.07-4.85.07s-3.58-.01-4.85-.07c-1.17-.05-1.97-.24-2.43-.41a3.66 3.66 0 01-1.48-.95 3.66 3.66 0 01-.95-1.48c-.17-.46-.36-1.26-.41-2.43C2.21 15.58 2.2 15.2 2.2 12s.01-3.58.07-4.85c.05-1.17.24-1.97.41-2.43.23-.6.5-1.03.95-1.48.45-.45.88-.72 1.48-.95.46-.17 1.26-.36 2.43-.41C8.42 2.21 8.8 2.2 12 2.2zm0 1.8c-3.13 0-3.48.01-4.71.07-.97.05-1.5.22-1.85.37-.47.18-.81.39-1.16.74-.35.35-.56.69-.74 1.16-.15.35-.32.88-.37 1.85-.06 1.23-.07 1.58-.07 4.71s.01 3.48.07 4.71c.05.97.22 1.5.37 1.85.18.47.39.81.74 1.16.35.35.69.56 1.16.74.35.15.88.32 1.85.37 1.23.06 1.58.07 4.71.07s3.48-.01 4.71-.07c.97-.05 1.5-.22 1.85-.37.47-.18.81-.39 1.16-.74.35-.35.56-.69.74-1.16.15-.35.32-.88.37-1.85.06-1.23.07-1.58.07-4.71s-.01-3.48-.07-4.71c-.05-.97-.22-1.5-.37-1.85a2.87 2.87 0 00-.74-1.16 2.87 2.87 0 00-1.16-.74c-.35-.15-.88-.32-1.85-.37-1.23-.06-1.58-.07-4.71-.07zM12 5.84a6.16 6.16 0 100 12.32 6.16 6.16 0 000-12.32zm0 10.16a4 4 0 110-8 4 4 0 010 8zm5.2-10.84a1.44 1.44 0 110 2.88 1.44 1.44 0 010-2.88z"
                        ></path>
                    </svg>
                </a>
            </div>
        </dir>

    
        <div>
						{
								!isLoggedIn ? (
                    <h3 class="titulo"> SUGERENCIAS</h3>
                    <p class="texto" style="margin-right: 40px;">Inicie sesión para realizar sugerencias</p>
                ) : (
                    <h3 class="titulo"> SUGERENCIAS
            </h3>
                    <a href={Solicitud}
                        class="btn-cambios">
                        SOLICITAR CAMBIOS
                    </a>
                )
            }
        </div>
    </div>

    <div class="derechos" style="margin: 12px 0 8px 0;">
        Grupo 3 MYCS © 2025. Todos los derechos reservados.
    </div>

    <div class="derechos">
        UNIVERSIDAD TÉCNICA DE AMBATO U.T.A.
    </div>
</footer>
