---
import HeaderUsuario from "@components/HeaderUsuario.astro";
import { actions } from "astro:actions";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log("Session:", session);

const { data: cuenta } = await Astro.callAction(
    actions.getCuentaByIdSingle,
    session?.user?.id || "",
);


const { isMaster, isStudent, isUser, isAdmin, isLoggedIn } = Astro.locals;
---
{
  (isMaster && (
    <HeaderUsuario nombreUsuario={session?.user?.name || "Administrador"} userImage={cuenta?.img_user || "/PerfilDefault.png"} />
  )) ||
  (isStudent && (
    <HeaderUsuario nombreUsuario={session?.user?.name || "Estudiante"} userImage={cuenta?.img_user || "/PerfilDefault.png"} />
  )) ||
  (isUser && (
    <HeaderUsuario nombreUsuario={session?.user?.name || "Usuario"} userImage={cuenta?.img_user || "/PerfilDefault.png"} />
  )) ||
  (isAdmin && (
    <HeaderUsuario nombreUsuario={session?.user?.name || "Administrador"} userImage={cuenta?.img_user || "/PerfilDefault.png"} />
  )) ||
  (isLoggedIn && (
    <HeaderUsuario nombreUsuario={session?.user?.name || "Usuario"} userImage={cuenta?.img_user || "/PerfilDefault.png"} />
  )) || (
    <header class="flex flex-wrap items-center justify-between px-8 py-4 bg-white border-b border-gray-300">
      <div class="flex items-center min-w-[250px]">
        <a href="/">
          <img
            src="/img/logoFisei.png"
            alt="Facultad de Ingeniería en Sistemas, Electrónica e Industrial"
            class="max-h-20 w-auto"
          />
        </a>
      </div>

      <div class="flex flex-wrap justify-end items-center gap-8 min-w-[250px] mt-4 md:mt-0">
        <a
          href="/buscarCertificado"
          class="flex items-center gap-2 text-sm font-semibold text-red-900 hover:text-red-700 transition-all duration-200 group"
          draggable="false"
        >
          <svg
            class="w-8 h-auto fill-[#ad272e] mr-2 -scale-y-100"
            viewBox="0 0 1710 1770"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
          >
            <!-- contenido SVG sin cambios -->
          </svg>
          <span class="select-none group-hover:underline group-hover:decoration-red-500 group-hover:underline-offset-4 drop-shadow-sm">
            Verifica tu certificado
          </span>
        </a>

        <a
          href="/login"
          class="flex items-center gap-2 text-sm font-semibold text-red-900 hover:text-red-700 transition-all duration-200 group"
          draggable="false"
        >
          <svg
            class="w-8 h-auto fill-[#ad272e] mr-2"
            viewBox="0 0 1920 1740"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
          >
            <!-- contenido SVG sin cambios -->
          </svg>
          <span class="select-none group-hover:underline group-hover:decoration-red-500 group-hover:underline-offset-4 drop-shadow-sm">
            Inicia sesión
          </span>
        </a>
      </div>
    </header>
  )
}
