---
import "../styles/ModalDetallesInscripcion.css";
---

<div id="modalDetallesReserva" class="modal">
  <div class="modal-contenido">
    <span class="cerrar" onclick="cerrarModalDetalles()">&times;</span>
    <div class="detalles-reserva">
      <h2>Nombre del Evento</h2>

      <div class="seccion-detalles">
        <h3>Información del Usuario</h3>
        <div class="descripcion-completa-container">
          <p class="descripcion-completa">
            <strong>Nombres:</strong>
            <span id="usuario-nombres"></span>
          </p>
          <p class="descripcion-completa">
            <strong>Apellidos:</strong>
            <span id="usuario-apellidos"></span>
          </p>
          <p class="descripcion-completa">
            <strong>Correo:</strong>
            <span id="usuario-correo"></span>
          </p>
          <p class="descripcion-completa">
            <strong>Cédula:</strong>
            <span id="usuario-cedula"></span>
          </p>
        </div>
      </div>

      <div class="seccion-detalles">
        <h3>Documentación</h3>
        <div class="info-grid">
          <p>
            <a href="#">Cédula y Papeleta de votación</a>
          </p>
          <p>
            <a href="#">Certificado de Matriculación</a>
          </p>

          <p>
            <a href="#">Carta de Motivación</a>
          </p>
        </div>
      </div>

      <div class="contenedor-boton-modificar">
        <button class="boton-modificar">Aprobar</button>
        <button class="boton-modificar">Rechazar</button>
      </div>
    </div>

    <script>
      declare global {
        interface Window {
          cerrarModalDetalles: () => void;
          abrirModalDetalles: () => void;
        }
      }

      function cerrarModalDetalles() {
        const modal = document.getElementById("modalDetallesReserva");
        if (modal) modal.style.display = "none";
      }

      function abrirModalDetalles() {
        const modal = document.getElementById("modalDetallesReserva");
        if (modal) modal.style.display = "block";
      }

      window.onclick = function (event) {
        const modal = document.getElementById("modalDetallesReserva");
        if (event.target === modal) cerrarModalDetalles();
      };

      window.cerrarModalDetalles = cerrarModalDetalles;
      window.abrirModalDetalles = abrirModalDetalles;
    </script>
  </div>
</div>
