
<style>
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
        background-color: white;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-family: sans-serif;
    }

    .NavGlobal {
        text-decoration: none;
        margin-right: 20px;
        color: darkred;
        font-size: 14px;
    }

    @media (max-width: 600px) {
        nav {
            flex-direction: column;
            align-items: flex-start;
        }

        .NavGlobal {
            margin-bottom: 10px;
        }
    }


        .btn-nav-gradient {
        font-family: sans-serif;
        font-size: 14px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 8px 16px;
        border-radius: 6px;
        background: linear-gradient(to right, #7e1d1d, #b91c1c);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        animation: pulse 2s infinite;
        display: inline-block;
        margin-left: 20px; /* reemplaza margin-left: auto */
        }

        .btn-nav-gradient:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        }

        @keyframes pulse {
        0%, 100% {
            opacity: 1;
            transform: scale(1);
        }
        50% {
            opacity: 0.96;
            transform: scale(1.02);
        }
        }

</style>

<nav>
    <a class="NavGlobal" href="/">Inicio</a>
    <a class="NavGlobal" href="/cursosCompleto">Eventos</a>

</nav>
