---
const { isAdmin, isMaster } = Astro.locals;
---

<style>
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
        background-color: white;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-family: sans-serif;
    }

    .NavGlobal {
        text-decoration: none;
        margin-right: 20px;
        color: darkred;
        font-size: 14px;
    }

    @media (max-width: 600px) {
        nav {
            flex-direction: column;
            align-items: flex-start;
        }

        .NavGlobal {
            margin-bottom: 10px;
        }
    }
</style>

<nav>
    <a class="NavGlobal" href="/">Inicio</a>
    <a class="NavGlobal" href="/cursosCompleto">Cursos</a>
    {
        isAdmin && (
            <a
                href="/homeAdmin"
                class="bg-gradient-to-r from-purple-600 to-blue-600 text-white font-bold px-4 py-2 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 hover:scale-105 animate-pulse"
            >
                Panel Admin
            </a>
        )
    }
    {
        isMaster && (
            <a
                href="/homeAdmin"
                class="bg-gradient-to-r from-purple-600 to-blue-600 text-white font-bold px-4 py-2 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 hover:scale-105 animate-pulse"
            >
                Panel Master
            </a>
        )
    }
</nav>
