---
const { links } = Astro.props;
---
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  {links.map(link => (
    <a href={link.href} class="block bg-white shadow p-4 rounded-xl hover:bg-blue-50 transition">
      {link.name}
    </a>
  ))}
</div>
